@use 'mixins.scss' as *;
@use 'variables.scss' as *;
@forward 'global.scss';

/* -------------------------------------------------------------------------- */
/*                                   header                                   */
/* -------------------------------------------------------------------------- */

.header {
    display: grid;
    grid-template-columns: 1fr minmax(0, 31.25rem) 1fr;
    gap: 2rem;
    justify-content: center;
}

.location {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    &__icon {
        font-size: 1.5rem;
    }
}

.search {
    position: relative;
    height: 3rem;
    &__input {
        width: 100%;
        height: 100%;
        background: rgba(white, 0.2);
        border-radius: 2rem;
        padding: 0 1rem;
        @include placeholder {
            color: rgba(white, 0.5);
        }
    }
    &__geo {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 1rem;
        font-size: 1.25rem;
        @include hover {
            opacity: 0.5;
        }
    }
    &__drop {
        position: absolute;
        top: calc(100% + 1rem);
        width: 100%;
        padding: 1rem;
        background: rgba(white, 0.2);
        border-radius: 1rem;
        backdrop-filter: blur(5px);
        z-index: 1;
    }
    &__result {
        padding-right: 0.5rem;
        display: grid;
        gap: 0.5rem;
        max-height: 17rem;
        overflow: auto;
        @include scrollbars(4px, 4px, white, transparent);
        &-button {
            text-align: left;
            width: 100%;
            font-size: 0.875rem;
            padding: 1rem;
            border-radius: 0.75rem;
            transition: all 0.3s;
            background: rgba(white, 0.05);
            @include hover {
                background: rgba(white, 0.1);
            }
        }
    }
    &__load {
        padding: 1rem;
        justify-content: center;
        text-align: center;
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    &__no-results {
        text-align: center;
        color: $error-color;
    }
}

/* -------------------------------------------------------------------------- */
/*                               forecast-by-day                              */
/* -------------------------------------------------------------------------- */

.forecast-by-day {
    &__list {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}

.forecast-day-button {
    min-width: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 1rem;
    background: rgba(white, 0.2);
    border-radius: 1rem;
    border: 1px transparent solid;
    &_active {
        border-color: rgba(white, 0.5);
    }
    @include hover {
        border-color: rgba(white, 0.5);
    }
    &__date {
        font-weight: 500;
    }
    &__temp {
        font-weight: 500;
    }
    &__icon {
        display: flex;
        align-items: center;
        font-size: 3rem;
    }
}

/* -------------------------------------------------------------------------- */
/*                               forecast-today                               */
/* -------------------------------------------------------------------------- */

.forecast-today {
    margin-bottom: 2rem;
    &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__main {
        display: grid;
        gap: 1rem;
    }
    &__today {
        font-weight: 500;
        text-transform: capitalize;
    }
    &__weather {
        display: flex;
        align-items: center;
    }
    &__icon {
        display: flex;
        align-items: center;
        font-size: 5rem;
    }
    &__current-temp {
        font-size: 4rem;
        sup {
            font-size: 0.5em;
        }
    }
    &__feels-temp {
        sup {
            font-size: 0.6em;
        }
    }
    &__secondary {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    &__props {
        display: grid;
        &-item {
            gap: 0.5rem;
            display: flex;
            align-items: center;
        }
        &-icon {
            font-size: 2rem;
        }
    }
}

/* -------------------------------------------------------------------------- */
/*                              forecast-by-hours                             */
/* -------------------------------------------------------------------------- */
.forecast-by-hours {
    &__tab-btns {
        display: flex;
        gap: 1rem;
    }
    &__tabs-btn {
        border: 1px rgba(white, 0.2) solid;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-size: 0.75rem;
        transition: all 0.3s;
        svg {
            font-size: 1.125rem;
        }
        &_active {
            background: rgba(white, 0.2);
        }
        @include hover {
            background: rgba(white, 0.2);
        }
    }
    &__tab-content {
        padding: 2rem 0;
    }
}
.forecast-by-hours-list {
    display: flex;
    align-items: center;
    overflow: auto;
    gap: 1rem;
    @include scrollbars(8px, 4px, rgba(white, 0.1), transparent);
    &__item {
        min-width: 6rem;
        border-radius: 1rem;
        border: 1px rgba(white, 0.2) solid;
        padding: 1rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    &__icon {
        font-size: 2rem;
    }
    &__time {
        font-size: 0.875rem;
    }
    &__temp {
        font-size: 0.875rem;
    }
}

.forecast-chart {
    height: 18.75rem;
    width: 100%;
}

/* -------------------------------------------------------------------------- */
/*                                   compass                                  */
/* -------------------------------------------------------------------------- */

.compass {
    --angle: 0deg;
    width: 7rem;
    height: 7rem;
    border: 1px rgba(white, 0.2) solid;
    border-radius: 50%;
    position: relative;
    &:after {
        content: '';
        position: absolute;
        display: block;
        width: 0.7rem;
        height: 0.7rem;
        border-radius: 50%;
        background: white;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
    }
    &:before {
        content: '';
        position: absolute;
        display: block;
        width: 0.5rem;
        height: 3.5rem;
        background: rgb(255, 53, 53);
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        left: 50%;
        bottom: 50%;
        transform-origin: center bottom;
        translate: -50% 0;
        rotate: var(--angle);
        transition: rotate 0.3s;
    }
    &__letter {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        line-height: 1.5rem;
        text-align: center;
        font-size: 0.75rem;
        background: rgba(white, 0.2);
        position: absolute;
        text-transform: uppercase;
        font-weight: 500;
        translate: -50% -50%;
        font-weight: 900;
        backdrop-filter: blur(2px);
        &_n {
            top: 0;
            left: 50%;
        }
        &_e {
            top: 50%;
            left: 100%;
        }
        &_s {
            top: 100%;
            left: 50%;
        }
        &_w {
            top: 50%;
            left: 0;
        }
    }
}
