@use 'mixins.scss' as *;
@forward 'global.scss';

/* -------------------------------------------------------------------------- */
/*                                   header                                   */
/* -------------------------------------------------------------------------- */

.header {
    display: grid;
    grid-template-columns: 1fr minmax(0, 31.25rem) 1fr;
    gap: 2rem;
    justify-content: center;
}

.location {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    &__icon {
        font-size: 1.5rem;
    }
}

.search {
    position: relative;
    height: 3rem;
    &__input {
        width: 100%;
        height: 100%;
        background: rgba(white, 0.2);
        border-radius: 2rem;
        padding: 0 1rem;
        @include placeholder {
            color: rgba(white, 0.5);
        }
    }
    &__geo {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 1rem;
        font-size: 1.25rem;
        @include hover {
            opacity: 0.5;
        }
    }
    &__drop {
        display: none;
        position: absolute;
        top: calc(100% + 1rem);
        width: 100%;
        padding: 1rem;
        background: rgba(white, 0.2);
        border-radius: 1rem;
    }
    &__result {
        max-height: 16rem;
        overflow: auto;
        @include scrollbars(4px, 4px, white, transparent);
        &-button {
            text-align: left;
            width: 100%;
            font-size: 0.875rem;
            padding: 1rem;
            border-radius: 0.75rem;
            transition: all 0.3s;

            @include hover {
                background: rgba(white, 0.1);
            }
        }
    }
}

/* -------------------------------------------------------------------------- */
/*                               forecast-by-day                              */
/* -------------------------------------------------------------------------- */

.forecast-by-day {
    &__list {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}

.forecast-day-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background: rgba(white, 0.2);
    border-radius: 1rem;
    border: 1px transparent solid;
    &_active {
        border-color: rgba(white, 0.5);
    }
    @include hover {
        border-color: rgba(white, 0.5);
    }
    &__date {
        font-size: 0.75rem;
    }
    &__icon {
        margin: 1rem 0 0.5rem;
        display: flex;
        align-items: center;
        font-size: 3rem;
    }
}

/* -------------------------------------------------------------------------- */
/*                               forecast-today                               */
/* -------------------------------------------------------------------------- */

.forecast-today {
    margin-bottom: 2rem;
    &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__main {
        display: grid;
        gap: 1rem;
    }
    &__today {
        font-weight: 500;
    }
    &__current-temp {
        font-size: 4rem;
        sup {
            font-size: 0.5em;
        }
    }
    &__feels-temp {
        sup {
            font-size: 0.6em;
        }
    }
    &__secondary {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    &__icon {
        padding-top: 1rem;
        display: flex;
        align-items: center;
        font-size: 7rem;
    }
    &__props {
        display: grid;
        gap: 0.5rem;
        &-item {
            display: flex;
            align-items: center;
        }
        &-icon {
            font-size: 1.5rem;
        }
    }
}

/* -------------------------------------------------------------------------- */
/*                              forecast-by-hours                             */
/* -------------------------------------------------------------------------- */

.forecast-by-hours {
    background: rgba(white, 0.2);
    padding: 1rem;
    border-radius: 1rem;

    &__list {
        display: flex;
        align-items: center;
        overflow: auto;
        gap: 1rem;
        @include scrollbars(8px, 4px, rgba(white, 0.1), transparent);
        &-item {
            padding: 1rem;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
        }
    }
    &__icon {
        font-size: 1.5rem;
    }
    &__time {
        font-size: 0.875rem;
    }
    &__temp {
        font-size: 0.875rem;
    }
}
